<%= form_for :todo, url: filter_path, method: 'GET', html: {class: "form-inline todo-form-padding todo-form-margin"} do |f| %>
  <div class="form-inline">
    <%= radio_button_tag(:completed, true) %>
		<%= label_tag(:completed_true, "Show only completed") %>
		<%= radio_button_tag(:completed, false) %>
		<%= label_tag(:completed_false, "Show only incomplete") %>
		<%= radio_button_tag(:completed, "all") %>
		<%= label_tag(:completed_all, "Show all todos") %>
    <%= f.submit "Filter", :class => "btn todo-button-secondary" %>
  </div>
<% end %>
